<div class="simesy-testimonial-pro-wrapper" id="sp-testimonial-pro-wrapper-{{ section.settings.simesy_testimonial_slider_id }}" data-view-id="{{ section.settings.simesy_testimonial_slider_id }}"></div>

{% schema %}
  {
    "name": "Simesy Testimonial Slider",
    "settings": [
      {
        "type": "text",
        "id": "simesy_testimonial_slider_id",
        "label": "Testimonial Slider ID"
      },
      {
        "type": "paragraph",
        "content": "[Need Help?](https://simesy.ticksy.com)"
      }
    ],
    "presets": [
      {
        "name": "Simesy Testimonial Slider",
        "category": "Simesy Shopify Apps"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}